body {
  font-family: sans-serif;
}

/* A única customização que precisamos é centralizar o corpo do artigo */
#content {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

/* Ajuste para mobile */
@media (max-width: 767px) {
  #content {
    padding: 15px;
  }
}

.breadcrumb-nav {
  padding: 24px 15px 0 15px;
}

.breadcrumb-nav a {
  color: #0969da; /* Azul padrão do GitHub para links */
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 24px;
  display: inline-block;
}
.breadcrumb-nav a:hover {
  text-decoration: underline;
}
