---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Courses from '../components/Courses.astro';
import Testimonials from '../components/Testimonials.astro';
import Footer from '../components/Footer.astro';
import Newsletter from '../components/Newsletter.astro';
import Section from '../components/Section.astro';
import SectionHeader from '../components/SectionHeader.astro';
---

<BaseLayout>
  <!-- 1. Hero Section -->
  <Hero />

  <!-- 2. Courses Section -->
  <Courses />

  <!-- 3. Coupon Section -->
  <Section
    id='section-coupon'
    theme='dark'
    class='bg-parallax'
    contentClass='section-coupon'
  >
    <SectionHeader
      eyeball='Para você'
      title='Desconto exclusivo'
      description='Leve sua carreira de desenvolvedor para o próximo nível pagando menos. Use o cupom abaixo e tenha acesso vitalício.'
    >
      <div class='discount-container'>
        <div class='coupon glass'>JAN282026</div>
        <div class='coupon-date'>Válido até 02/02/2026</div>
      </div>
    </SectionHeader>
  </Section>

  <!-- 4. Blog Posts Static Placeholder (Will become dynamic later) -->
  <Section id='section-blog' theme='light' contentClass='section-blog'>
    <SectionHeader
      class='blog-header'
      eyeball='Últimos posts do'
      title='Meu blog'
      description='Minhas notas de estudo acabaram se tornando tutoriais sobre o ecossistema de engenharia de software.'
    />

    <ul class='blog-list'>
      <li>
        <a href='2026/shiki_syntax_highlighter_generator/'
          >Shiki - Syntax highlighter <span class='blog-arrow'>→</span></a
        >
      </li>
      <li>
        <a href='2025/liskov-substitution-principle-lsp-solid/'
          >Liskov Substitution Principle ou Princípio da Substituição de Liskov <span
            class='blog-arrow'>→</span
          ></a
        >
      </li>
      <li>
        <a href='2025/f-strings-no-python-do-basico-ao-avancado/'
          >f-strings em Python: coisas que você não sabia
          <span class='blog-arrow'>→</span></a
        >
      </li>
      <li>
        <a href='2025/logging-no-python-pare-de-usar-print-no-lugar-errado/'
          >logging no Python: Pare de usar print no lugar errado
          <span class='blog-arrow'>→</span></a
        >
      </li>
      <li>
        <a href='2025/namespace-escopo-python/'
          >Escopo e Namespace em Python
          <span class='blog-arrow'>→</span></a
        >
      </li>
      <li>
        <a href='2025/whisper-live-sera-que-deu-certo/'
          >Tentei usar o whisper live via microfone
          <span class='blog-arrow'>→</span></a
        >
      </li>
      <li>
        <a href='2025/python-sussu-cli-openai-whisper/'
          >Transcreva áudio com Python: Sussu CLI + OpenAI Whisper
          <span class='blog-arrow'>→</span></a
        >
      </li>
      <li>
        <a
          href='2025/notas-tecnicas-whisper-openai-guia-completo-de-transcricao-com-inteligencia-artificial-video-e-audio/'
          >Notas técnicas sobre o vídeo Whisper OpenAI CLI do Youtube
          <span class='blog-arrow'>→</span></a
        >
      </li>
      <li>
        <a href='2025/notas-tecnicas-python-argparse-cli/'
          >Notas Técnicas: Criando CLIs com Python e Argparse
          <span class='blog-arrow'>→</span></a
        >
      </li>
      <li>
        <a href='2020/pilhas-em-python-com-listas-stack/'
          >Pilhas em Python com listas (stack)
          <span class='blog-arrow'>→</span></a
        >
      </li>
      <li>
        <a href='2020/typescript-uma-longa-introducao/'
          >TypeScript - uma longa introdução
          <span class='blog-arrow'>→</span></a
        >
      </li>
      <li>
        <a href='2020/normalizacao-unicode-em-python/'
          >Normalização Unicode em Python
          <span class='blog-arrow'>→</span></a
        >
      </li>
      <li>
        <a href='2020/funcoes-recursivas-com-python/'
          >Funções recursivas com Python
          <span class='blog-arrow'>→</span></a
        >
      </li>
      <li>
        <a href='2020/filas-em-python-com-deque-queue/'
          >Filas em Python com deque (queue)
          <span class='blog-arrow'>→</span></a
        >
      </li>
      <li>
        <a href='2018/ssh-keys-chaves-de-autenticacao-ssh/'
          >SSH keys: chaves de autenticação SSH
          <span class='blog-arrow'>→</span></a
        >
      </li>
      <li>
        <a href='2018/instalando-o-certificado-ssl-tls-gratis-da-lets-encrypt/'
          >Instalando o certificado SSL-TLS grátis da Let’s Encrypt
          <span class='blog-arrow'>→</span></a
        >
      </li>
      <li>
        <a href='2018/dominio-e-hospedagem-guia-para-leigos/'>
          Domínio e hospedagem: guia para leigos
          <span class='blog-arrow'>→</span></a
        >
      </li>
    </ul>
  </Section>
  <!-- 5. Testimonials Section -->
  <Testimonials />

  <!-- 6. Newsletter -->
  <Newsletter />

  <!-- 7. Footer -->
  <Footer />
</BaseLayout>
