---
import Section from './Section.astro';
import SectionHeader from './SectionHeader.astro';
import Course from './Course.astro';
---

<Section id='courses' theme='light' contentClass='section-courses'>
  <SectionHeader
    eyeball='Escolha sua stack'
    title='Cursos de programação'
    description='Domine tecnologias como Python, JavaScript, TypeScript e React. Metodologia focada na prática para te levar do zero à sua primeira vaga de desenvolvedor.'
  />

  <div class='courses-grid'>
    <Course
      href='https://www.udemy.com/course/curso-de-javascript-moderno-do-basico-ao-avancado/?referralCode=C6F07057B0999D3E36BA'
      imageSrc='imgs/curso-javascript-typescript.webp'
      imageAlt='Curso de JavaScript e TypeScript do básico ao avançado'
      title='Curso de JavaScript e TypeScript do básico ao avançado'
    >
      JavaScript e TypeScript - front-end e back-end (Full Stack) - Node,
      Express, noSQL, React, hooks, Redux, Design Patterns
    </Course>

    <Course
      href='https://www.udemy.com/course/python-3-do-zero-ao-avancado/?referralCode=5DDCAD01311E2A9599B2'
      imageSrc='imgs/curso-de-python.webp'
      imageAlt='Curso de Python 3 do Básico Ao Avançado'
      title='Curso de Python 3 do Básico Ao Avançado (com projetos reais)'
    >
      Python 3 completo - programação com Django, PyQT5, Selenium, Regexp,
      Testes e TDD, POO, Design Patterns GoF, algoritmos.
    </Course>

    <Course
      href='https://www.udemy.com/course/nestjs-curso-completo-rest-api-typeorm-jwt-e-mais/?referralCode=7EAD0D9F0C7D4B6F9B4E'
      imageSrc='imgs/curso-de-nestjs.webp'
      imageAlt='NestJS - Curso completo'
      title='NestJS - Curso completo para REST API com TypeORM e JWT'
    >
      Domine NestJS criando APIs RESTful com TypeORM, autenticação JWT, e
      testes automatizados para aplicações robustas.
    </Course>

    <Course
      href='https://hostinger.com/otaviomiranda'
      imageSrc='imgs/hostinger.webp'
      imageAlt='Hostinger'
      title='Para servidores e hospedagem de sites, recomendo Hostinger!'
    >
      Além da qualidade da infraestrutura, a Hostinger ainda disponibiliza
      <strong style='color: var(--glow-clr-1)'>+10% de desconto</strong>
      com o cupom
      <strong style='color: var(--glow-clr-1)'>OTAVIOMIRANDA</strong>.
    </Course>

    <Course
      href='https://www.udemy.com/course/curso-de-django-web-framework-com-python-html-e-css/?referralCode=D43F8EDA2A980B64C0FC'
      imageSrc='imgs/curso-django.webp'
      imageAlt='Curso de Django'
      title='Curso de Django Web Framework com Python, HTML e CSS'
    >
      Aprenda Django Web Framework com Python, HTML e CSS. Conheça o ORM, os
      templates e Views, entenda HTTP e muito mais.
    </Course>

    <Course
      href='https://www.udemy.com/course/curso-de-reactjs-nextjs-completo-do-basico-ao-avancado/?referralCode=C228CEEAEB14B76159E1'
      imageSrc='imgs/curso-react-nextjs.webp'
      imageAlt='Curso de React.Js + Next.Js'
      title='Curso de React.Js + Next.Js completo do básico ao avançado'
    >
      Aprenda ReactJS, NextJS, Styled-Components, Testes com Jest, Storybook,
      Strapi, HTML e CSS com TypeScript e JavaScript.
    </Course>

    <Course
      href='https://www.udemy.com/course/curso-de-graphql-e-apollo-server-client/?referralCode=7C1982716397A5668A2C'
      imageSrc='imgs/graphql.webp'
      imageAlt='Curso de GraphQL e Apollo-Server'
      title='Curso de GraphQL e Apollo-Server'
    >
      GraphQL e Apollo-Server - Crie back-ends para aplicações e junte tudo em
      um grafo e end-point usando dados de APIs e BDs
    </Course>

    <Course
      href='https://www.udemy.com/course/expressoes-regulares-com-python-3-curso-gratuito/?referralCode=974C646591CF3D055109'
      imageSrc='imgs/expressoes-regulares.webp'
      imageAlt='Expressões regulares com Python 3'
      title='Expressões regulares com Python 3 (Curso gratuito)'
    >
      Aprenda expressões regulares utilizando Python 3 - Grátis
    </Course>
  </div>
</Section>

<style>
  /*
Section courses
*/

  .section-courses {
    max-width: 180rem;
    margin: 0 auto;
    padding-bottom: 8rem;
  }

  .courses-grid {
    perspective: 1200px;
    transform-origin: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 380px), 1fr));
    /* Added min(100%, ...) to prevent overflow on mobile displays */
    grid-auto-flow: row dense;
    gap: clamp(var(--spacings-sm-900), 4vw, var(--spacings-lg-400));

    perspective: 1000px;
    transform-style: preserve3d;
  }

</style>
