---
// src/components/Footer.astro
---

<footer
  id='section-footer'
  class='section section-dark footer-massive bg-parallax'
>
  <div class='footer-top-links'>
    <a href='/'>© Otávio Miranda</a>
    <a class='link' href='/contatos/'>Contatos</a>
    <a href='#'>Topo ▲</a>
  </div>
  <div class='footer-megatext-container'>
    <div class='footer-megatext'>OTÁVIO MIRANDA</div>
  </div>
</footer>
