---
// src/components/Footer.astro
---

<section class='section section-light article-section'>
  <div class='section-content'>
    <nav class='nav'>
      <a class='copyright-link' href='/'>Otávio Miranda</a>
      <a
        target='_blank'
        href='https://beacons.ai/otaviomiranda'
        rel='nofollow noopener noreferrer'>Contatos</a
      >
    </nav>
  </div>
</section>
