---
// src/components/Header.astro
import Section from './Section.astro';
---

<Section class='article-section' theme='light'>
  <nav class='nav'>
    <a class='copyright-link' href='/'>Otávio Miranda</a>
    <a href='/contacts/'>Contatos</a>
    <a href='/blog/1/'>Blog</a>
  </nav>
</Section>
