---
// src/components/Hero.astro
---

<section id="section-hero" class="section section-dark section-hero">
  <div class="section-content hero-content">
    <header>
      <p class="hero-eyeball">Olá, sou</p>
      <h1 class="hero-title">Otávio Miranda</h1>
      <p class="hero-line">
        Desenvolvedor de software e criador de conteúdo desde 2009.
      </p>
      <p class="hero-line">
        Educador em cursos de programação com mais de 300 mil alunos.
      </p>
      <p class="hero-line">Fique à vontade para explorar.</p>
    </header>

    <div class="hero-links">
      <div class="link-container">
        <div class="link-bg-blur"></div>
        <div class="link-bg"></div>
        <a class="link" href="#courses">Cursos</a>
      </div>

      <div class="link-container">
        <div class="link-bg-blur"></div>
        <div class="link-bg"></div>
        <a
          target="_blank"
          rel="nnoreferrer noopener"
          class="link"
          href="https://www.youtube.com/@otaviomiranda/videos"
          >YouTube</a
        >
      </div>

      <div class="link-container">
        <div class="link-bg-blur"></div>
        <div class="link-bg"></div>
        <a
          target="_blank"
          rel="nnoreferrer noopener"
          class="link"
          href="https://beacons.ai/otaviomiranda"
          >Contatos</a
        >
      </div>
    </div>
  </div>

  <div class="next-section">
    <a href="#courses"> Continue ▼ </a>
  </div>

  <canvas id="canvas-hero-dark" class="canvas-bg"></canvas>
</section>
