---
import ColorfulBorder from './ColorfulBorder.astro';

type Props = Omit<astroHTML.JSX.AnchorHTMLAttributes, 'class'> & {
  href: string;
  containerClass?: string;
  linkClass?: string;
};

const {
  href,
  containerClass = '',
  linkClass = '',
  ...linkProps
} = Astro.props as Props;
---

<ColorfulBorder class={containerClass}>
  <a href={href} class:list={['link', linkClass]} {...linkProps}> <slot /></a>
</ColorfulBorder>

<style>
  a.link.link {
    text-decoration: none;
    color: hsl(from var(--main-clr-shade) h s 95% /1);

    &:hover {
      color: hsl(from var(--main-clr-shade) h s 95% /1);
    }
  }
</style>
