---
import ColorfulBorder from './ColorfulBorder.astro';

type Props = Omit<astroHTML.JSX.ButtonHTMLAttributes, 'class'> & {
  containerClass?: string;
  buttonClass?: string;
};

const { containerClass = '', buttonClass = '', ...buttonProps } = Astro.props as Props;
---

<ColorfulBorder class={containerClass}>
  <button class:list={[buttonClass]} {...buttonProps}>
    <slot />
  </button>
</ColorfulBorder>
