---
import Section from './Section.astro';
import SectionHeader from './SectionHeader.astro';
import Testimonial from './Testimonial.astro';

type Testimonial = {
  slug: string;
  author: string;
  role: string;
  text: string;
};

const testimonials: Testimonial[] = [
  {
    slug: 'francisco_juan_s',
    author: 'Francisco Juan S.',
    role: 'Aluno desde 2022',
    text: 'Fala professor! Gostaria de vir aqui apenas para agradecer por essa ruma de conhecimento que voce sempre traz. Sou seu aluno desde 2022 e, desde entao, praticamente gabaritei seus cursos. Acho sensacional o tanto de conteudo gratuito que voce deixa pra gente aprender, tipo essa baita enciclopedia que voce fez de docker. Enfim, deixo registrado minha admiracao e carinho. Muito obrigado por tudo!',
  },
  {
    slug: 'hugo_ledertheil_ruffo',
    author: 'Hugo Ledertheil Ruffo',
    role: 'Aluno Udemy',
    text: '... Hoje eu trabalho há 5 anos com Django e em parte isso é por conta dele (Otávio Miranda). Obrigado pela atenção e pela contribuição com conversas e ( principalmente ) tanto conteúdo de alto nível (MUITOS DE GRAÇA NO CANAL DELE DO YOUTUBE).',
  },
  {
    slug: 'lazier_fernandes',
    author: 'Lazier Fernandes',
    role: 'Aluno de Python',
    text: 'Há 5 anos iniciei minha jornada na área e tive o privilégio de aprender com o seu curso. Em apenas 3 anos alcancei o nível sênior... Sou muito grato por tudo o que aprendi com você. Vamos continuar nessa jornada de aprendizado e, acima de tudo, de compartilhar conhecimento. Muito obrigado!',
  },
  {
    slug: 'leandro_de_jesus_santos',
    author: 'Leandro de Jesus Santos',
    role: 'Estudante de Programacao',
    text: 'Eu sou muito grato ao senhor, o primeiro curso de programação que eu comprei na vida foi o seu e se hoje eu tenho autonomia para aprender outros tópicos, linguagens, etc. É tudo graças ao senhor...',
  },
  {
    slug: 'lucas_medeiros',
    author: 'Lucas Medeiros',
    role: 'Aluno iniciante',
    text: '...Seu curso de django e ele mudou minha vida. Com o tempo fui desenvolvendo soluções, fui sendo promovido na empresa, até virar CTO hoje, numa empresa da minha cidade, mas não para por aí, fiz projetos na faculdade, ganhei bolsas, enfim. Agradecer pelo seu belíssimo curso, acredito que parte do sucesso que tenho hoje devo às suas aulas! Então um sincero obrigado!',
  },
  {
    slug: 'luiz_danella',
    author: 'Luiz Danella',
    role: 'Software Engineer',
    text: '...Só queria passar aqui e deixar meu agradecimento pra ti. Hoje sou programador sênior muito por sua ajuda! Seus cursos são ótimos e sua didática é perfeita. Muito obrigado e que Deus continue abençoando o senhor e sua família!',
  },
];
---

<Section
  id='section-testimonials'
  theme='dark'
  class='bg-parallax'
  contentClass='section-testimonials'
>
  <SectionHeader
    eyeball='O que os alunos dizem'
    title='Histórias de sucesso'
    description='Veja o que desenvolvedores que já estudaram comigo têm a dizer sobre a didática e os resultados.'
  />

  <div class='testimonials-grid'>
    {
      testimonials.map(testimonial => (
        <Testimonial {...testimonial} />
      ))
    }
  </div>
</Section>

<style>
  /*
   * Testimonials
   */
  .testimonials-grid {
    max-width: 180rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 380px), 1fr));
    grid-auto-flow: row dense;
    gap: clamp(var(--spacings-sm-900), 4vw, var(--spacings-lg-400));

    padding-bottom: clamp(var(--spacings-lg-100), 8vw, var(--spacings-lg-600));
    margin-bottom: clamp(var(--spacings-lg-100), 8vw, var(--spacings-lg-600));
  }

  @media (max-width: 1024px) {
    .testimonials-grid {
      column-count: 2;
    }
  }

  @media (max-width: 600px) {
    .testimonials-grid {
      column-count: 1;
    }
  }

</style>
